body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  color: #333;
}

    .logo{
      background-color: #0045a0;
      color: white;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      justify-content: center;
    }

.receipt-container {
  max-width: 100%;
  margin: 0px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, section, footer {
  margin-bottom: 30px;
}

header h1 {
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
  margin-bottom: 5px;
}

header h2 {
  text-align: center;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.address-section {
  display: flex;
  justify-content: space-between;
  gap: 9px;
}

.address-section div {
  width: 65%;
  font-size: 15px;
}

.shipment-info table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.shipment-info th,
.shipment-info td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.shipment-info th {
  background-color: #f0f0f0;
}

footer h4 {
  margin-bottom: 10px;
  color: #d32f2f;
}


.alert img{
width: 52px;
height: auto;
}

.alert{
  color: #d32f2f;
}