* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}




.navbar {
  display: flex;
  justify-content: space-between; /* logo left, nav right */
  align-items: center;             /* vertical alignment */
  padding: 1rem 0rem;
  background-color: #0047a3;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  flex-wrap: nowrap; /* keeps everything in one row */
}

.brand-name {
      /* Border thickness and color */
  padding: 0px 0px;            /* Space inside the border */
  border-radius: 5px;           /* Optional: rounded corners */
  font-weight: bold;
  color: white;
   -webkit-text-stroke: 0.5px rgb(255, 255, 255);     /* Outline thickness and color */
  text-stroke: 1px rgb(0, 107, 54);  
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
    margin: 2px;
}

.logo img {
  height: 50px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding: 10px 9px ;
  
  
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 1px;
}

.nav-links a:hover {
  text-decoration: #000;
  background-color: #000;
}

.track{
  align-items: center;
  text-align: right;
  padding: 70px 0px;
  
}

.tracking{
  text-align: right;
  padding: 1rem ;
  color: #0045a0;
  font-size: 18px;
  height: 0;

}

    .map{
        align-items: center;
        justify-content: center;
         text-align: center;
      padding: 0px;
    }
    
    .map img{
        height: 228px;

    }


    .timeline {
      position: relative;
      margin: 40px;
      padding-left: 100px;
      left: 35px;
      border-left: 2px solid black;
    }

    .event {
      position: relative;
      margin-bottom: 40px;
    }

    .dot {
      position: absolute;
      left: -111px;
      top: 3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .green { background-color: gray; }
    .orange { background-color: gray; }
    .gray { background-color: gray; }
    .blue { background-color: gray; }
    .red { background-color: gray; }
    

    .event .date {
      color: red;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
    }

    .sectionthree{
      justify-content: center;
      align-content: center;
      text-align: center;
    }

    button{
      display: inline-block;
      background-color: #0045a0;
      color: #ffffff;
      text-decoration: none;
      padding: 10px 20px;
      border: none;
      font-size: 16px;
}

    .barcode {
      text-align: right;
      padding: 40px;
    }

    .barcode img {
      height: 50px;
    }